.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
}


h1 {
  font-family: sans-serif;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 20%;
  margin-right: auto;
  font-weight: bold;
}

p {
  margin-left: 20%;
  font-size: 140%;
  font-family: sans-serif;
}


span.support {
  display: inline-block;
  margin: 2px 1px;
  padding: 2px 5px;
  line-height: 2rem;
  font-weight: 500;
  color: #f6fafc;
  border-radius: 2px;
}

.support-gold { background-color: #edd81ee7; }
.support-bronze { background-color: #826a25ff; }
